<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rodney's Portfolio</title>
    <script src="/JS/style.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <div class="dropdown">
            <button onclick="myFunction()" class="dropbtn"><hr><br><hr><br><hr></button>
        <ul id="myDropdown" class="dropdown-content">
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#projects">PROJECTS</a></li>
            <li><a href="#contact-me">CONTACT</a></li>
        </ul>
        </div>
    </nav>
    <div id="about">
        <div id="name"><h1>Rodney<br>Todd</h1></div>
        <div id="info">
            <p>Hello, my name is Rodney Todd. I am a Junior Full Stack developer. I attended General Assemblies Immersive
                Software Engineering program. I love to develop websites/software that people can easily and happily interact 
                with. I love debugging code. The feeling you get when you have spent hours on end trying to figure out what 
                is wrong, and then you finally get it, is so satisfying to me! If you would like to contact me just hit that 
                contact button, and I will get back with you ASAP. <br><br><br>
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="JAVASCRIPT">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NODEJS">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/heroku/heroku-original.svg" alt="HEROKU">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg" alt="GIT"></p>   
        </div>
        <div id="socials">
            <a href="https://www.linkedin.com/in/rodney-todd-a676b4128/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="LinkedIn"></a>
            <a href="https://github.com/rodennis?tab=repositories" target="_blank"><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="Github"></a>
        </div>
    </div>
    <div id="projects">
        <div id="project-set1">
    <div class="project1">
        <a href="https://github.com/rodennis/portfolio" target="blank"><img id="main-img" src="/photos/portfolio_100x100.png" alt="Portfolio"></a><br>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="JAVASCRIPT">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg" alt="NODEJS">
    </div>
    <div class="project2">
        <a href="" target="blank"><img id="main-img" src="/photos/test-photo.jpeg" alt="" ></a><br>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="JAVASCRIPT">
    </div>
    </div>
    <div id="project-set2">
    <div class="project3">
        <a href="" target="blank"><img id="main-img" src="/photos/test-photo.jpeg" alt=""></a><br>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="JAVASCRIPT">
    </div>
    <div class="project4">
        <a href="" target="blank"><img id="main-img" src="/photos/test-photo.jpeg" alt=""></a><br>
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg" alt="HTML">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" alt="CSS">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" alt="JAVASCRIPT">
    </div>
    </div>
    </div>
    <div id="contact-me">
        <div class="contact-form">
            <form action="" method="POST" class="contactForm">
                <h2>Let's Talk</h2>
                <input id="firstName" type="text" name="firstName" placeholder="First Name" required>
                <input id="lastName" type="text" name="lastName" placeholder="Last Name" required><br>
                <input id="email" type="text" name="email" placeholder="example@email.com" required><br>
                <input id="phone" type="text" name="phoneNumber" placeholder="(000)000-0000"><br>
                <textarea id="message" name="message" placeholder="Message..." id="message" cols="30" rows="10"></textarea>
                <input type="submit" id="submit" class="submit" value="Send Message">
            </form>
        </div>
        <div id="success" class="hide">
            <button id="exit">X</button>
            <p>Thank's, i'll get back with you ASAP!</p>
        </div>
        </div>
    </div>
</body>
</html>